@model IEnumerable<CoreInceleme.Models.Product>
@{
	Layout = "_Layout";
}

@section Scripts{
	<script>
		$(document).ready(function () {
			//GetDetailsByID
			$(".btn-get-product").on("click", function () {
				var formData = new FormData();
				var productid = $(this).attr("data-productid");
				var url = '@Url.Action("GetDetailsByID","Product")' + '/' + productid
				$.ajax({
					type: 'GET',
					url: url,
					contentType: false,
					processData: false,
					cache: false,
					data: formData,
					success: function (response) {
						if (response.responseCode == 0) {
							var product = JSON.parse(response.responseMessage);
							$("#productName").val(product.ProductName);
							$("#price").val(product.Price);
							$("#stock").val(product.Stock);
							$("#hdn-product-id").val(product.ID);
						}
						else {
							bootbox.alert(response.responseMessage);
						}
					},
					error: errorCallback
				})
			})

			//Reflesh
			$("#btn-reflesh-product").on("click", function () {
				debugger;
				var formData = new FormData();
				$("#hdn-product-id").val("");
				$("#productName").val("");
				$("#price").val("");
				$("#stock").val("");
				$.ajax({
					type: 'GET',
					url: 'Product/Reflesh',
					contentType: false,
					processData: false,
					cache: false,
					data: formData,
					success: successCallBack,
				});
			})

			//Add
			$("#btn-insert-product").on("click", function () {
				var formData = new FormData();
				formData.append("id", $("#id").val());
				formData.append("productName", $("#productName").val());
				formData.append("price", $("#price").val());
				formData.append("stock", $("#stock").val());
				$.ajax({
					type: 'POST',
					url: 'Product/Add',
					contentType: false,
					processData: false,
					cache: false,
					data: formData,
					success: successCallBack,
					error: errorCallback
				});
			});

			//Update
			$("#btn-update-product").on("click", function () {
				var formData = new FormData();
				formData.append("id", $("#hdn-product-id").val());
				formData.append("productName", $("#productName").val());
				formData.append("price", $("#price").val());
				formData.append("stock", $("#stock").val());
				$.ajax({
					type: 'PUT',
					url: 'Product/Update',
					contentType: false,
					processData: false,
					cache: false,
					data: formData,
					success: successCallBack,
					error: errorCallback
				});
			});

			//Delete
			$("#btn-delete-product").on("click", function () {
				var formData = new FormData();
				formData.append("id", $("#hdn-product-id").val());
				$.ajax({
					type: 'DELETE',
					url: 'Product/Delete',
					contentType: false,
					processData: false,
					cache: false,
					data: formData,
					success: successCallBack,
					error: errorCallback
				});
			});


			//ErrorMesaage
			function errorCallback() {
				booybox.alert("Bir Hata Oluştu")
			}

			/*Reset Form*/
			function resetForm() {
				$("#hdn-product-id").val("");
				$("#productName").val("");
				$("#price").val("");
				$("#stock").val("");
			}

			function successCallBack(response) {
				if (response.responseCode == 0) {
					resetForm();
					bootbox.alert(response.responseMessage, function () {
						//Herhangi bir operasyon olucaksa burada belirtebilirsiniz. Sayfa Yenilemek gibi vs.
					})
				}
				else {
					bootbox.alert(response.responseMessage)
				}
			}
		})
	</script>
}

<div class="row">
	<div class="col-sm-12">
		<form>
			<input type="hidden" id="hdn-product-id" />
			<div class="row">
				<div class="col-sm-4">
					<label for="productName" class="form-label">Ürün Adı</label>
					<input type="text" class="form-control" id="productName" placeholder="Ürün Adı Giriniz" required />
					<div class="invalid-feedback">Ürün Adı Zorunludur</div>
				</div>

				<div class="col-sm-4">
					<label for="price" class="form-label">Fiyat</label>
					<input type="text" class="form-control" id="price" placeholder="Fiyat Giriniz" required />
					<div class="invalid-feedback">Fiyat Zorunludur</div>
				</div>

				<div class="col-sm-4">
					<label for="stock" class="form-label">Stok</label>
					<input type="text" class="form-control" id="stock" placeholder="Stok Giriniz" required />
					<div class="invalid-feedback">Stok Zorunludur</div>
				</div>
			</div>

			<table class="table">
				<tbody>
					<tr>
						<td>
							<a href="javascript:void(0)" class="btn btn-primary" id="btn-insert-product">Kaydet</a>
						</td>
						<td>
							<a href="javascript:void(0)" class="btn btn-info" id="btn-update-product">Güncelle</a>
						</td>
						<td>
							<a href="javascript:void(0)" class="btn btn-danger" id="btn-delete-product">Sil</a>
						</td>
						<td>
							<a href="javascript:void(0)" class="btn btn-info" id="btn-reflesh-product">Yenile</a>
						</td>
					</tr>
				</tbody>

			</table>
		</form>
	</div>
</div>

<div class="card-body">
	<div class="table-responsive">
		<table class="table table-bordered" width="100% cellpadding="0">
			<thead>
				<tr>
					<th>Id</th>
					<th>Adı</th>
					<th>Fiyat</th>
					<th>Stok Adeti</th>
					<th>Operasyonlar</th>
				</tr>
			</thead>

			<tbody id="productList">
				@foreach (var product in Model)
				{
					<tr>
						<td>@product.ID</td>
						<td>@product.ProductName</td>
						<td>@product.Price</td>
						<td>@product.Stock</td>
						<td>
							<a data-productid="@product.ID" class="btn btn-success btn-get-product">Ürün Getir</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>